
<!DOCTYPE html>

<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/education.css"/>
        <link rel="stylesheet" href="/css/w3.css">
        <style>
                * {
                  box-sizing: border-box;
                }
                @media (max-width: 600px) {
                  nav, article {
                    width: 100%;
                    height: auto;
                  }
                }
        </style>
    </head>
    <body>

        <header class="dd">
            <div >
                <h1 class="w3-text-yellow" style="text-shadow:1px 1px 0 #444;padding-top=100px;">
                    <b>Daniel's Education</b></h1>
            </div>


            <nav>

                <h2 class="w3-text-black"
                    style="text-shadow:1px 1px 0 #444; padding:10px ;
                        word-spacing: 50px;" >
                    <span> <a href="/">Home</a></span>
                    <span><a href="/skills">Skills</a></span>
                    <span><a href="#">Projects</a></span>
                </h2>

            </nav>
        </header>







        <section>
            <aside class="institution">
                <h3>Institutions</h3>
            </aside>
            <article>
                <div class="w3-container">
                    <!-- <h2>Right Align a Column</h2>-->
                    <table class="w3-table-all w3-card-4" style="width:100%">
                        <tr>
                            <th>Institution</th>
                            <th class="w3-right-align">Period</th>
                        </tr>
                        <tr>
                            <td>Ebonyi State University,Ebonyi State, Nigeria</td>
                            <td class="w3-right-align">2012 - 2017</td>
                        </tr>
                        <tr>
                            <td>SoloLearn Inc.<br>www.sololearn.com</td>
                            <td class="w3-right-align"> 2019 - 2020</td>
                        </tr>
                        <tr>
                            <td>National Orthopaedic hospital, Enugu State</td>
                            <td class="w3-right-align"> 2019 - 2020</td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>

        <section>
            <aside class="certificate">
                <h3>Certicates</h3>
            </aside>
            <article>
                <div class="w3-container">
                    <!--<h2>Right Align a Column</h2>-->

                    <table class="w3-table-all w3-card-4" style="width:100%">
                        <tr>
                            <th>Certificate</th>
                            <th class="w3-right-align">Period</th>
                        </tr>
                        <tr>
                            <td>Bachelor of Medical Laboratory Science</td>
                            <td class="w3-right-align">2017</td>
                        </tr>
                        <tr>
                            <td>CSS <br>certificate of Completion</td>
                            <td class="w3-right-align">2019</td>
                        </tr>
                        <tr>
                            <td>HTML <br>Certificate of Completion</td>
                            <td class="w3-right-align">2019</td>
                        </tr>
                        <tr>
                            <td>JQuery<br> Certificate of Completion</td>
                            <td class="w3-right-align">2019</td>
                        </tr>
                        <tr>
                            <td>Java SE <br>Certificate of Completion</td>
                            <td class="w3-right-align">2020</td>
                        </tr>
                        <tr>
                            <td>Internship<br>Certificate of Participation</td>
                            <td class="w3-right-align"> 2020</td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>

        <section>
            <aside class="other_institution">
                <h3>Other Institutions</h3>
            </aside>
            <article>
                <div class="w3-container">
                    <!-- <h2>Right Align a Column</h2>-->
                    <table class="w3-table-all w3-card-4" style="width:100%">
                        <tr>
                            <th>Institution</th>
                            <th class="w3-right-align">Period</th>
                        </tr>
                        <tr>
                            <td>Spring Inc.<br>www.Spring.io</td>
                            <td class="w3-right-align">2020 - till date</td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>

        <footer>
            <h3>Contacts</h3>
            <div>
                <p>
                    linkedin: <a href="https://linkedin.com/in/anikputa-daniel-6a675a207"
                                 title="view profie">linkedin.com/in/anikputa-daniel-6a675a207</a><br>
                    Email: <a href="mailto:anikputacoedsacad@gmail.com" title="gmail address">
                    anikputacoedsacad@gmail.com</a><br>
                    Github: <a href="https://github.com/deepmud" title="view projects">
                    https://github.com/deepmud</a><br>
                    Telephone: <a href="#" title="telephone no."> +2348134868345</a><br>
                </p>
            </div>
        </footer>

    </body>
</html>



