
<!DOCTYPE html>

<html   lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/w3.css"/>
        <style>
            * {
              box-sizing: border-box;
            }
            @media (max-width: 600px) {
              nav, article {
                width: 100%;
                height: auto;
              }
            }
         </style>
    </head>

    <body>

    <header>
        <div><img src="./image/decool.jpg" alt=""
                  style={"height=250px width=250px"}/>
        </div>
        <div >
            <h1 class="w3-text-yellow" style="text-shadow:1px 1px 0 #444">
                <b>ANIKPUTA DANIEL CHIMDINDU</b></h1>
        </div>
        <h4><i>Designer-Developer-Coder</i></h4>
    </header>

    <section>
        <aside>
            <nav>
                <ul>
                    <li><a href="/education"><h2>Education</h2></a></li>
                    <li><a href="/skills"><h2>Skills</h2></a></li>
                    <li><a href="#"><h2>Projects</h2></a></li>
                </ul>
            </nav>
        </aside>

        <article style="font-size:20px">
            <p> A Software Developer adept in bringing forth expertise in design, deployment, testing
                and maintenance of software systems. Equipped with a diverse and promising skill-set.
                Proficient in various platforms, languages. Experienced with the latest cutting-edge
                development tools and procedures. Able to effectively self-manage during independent
                projects, as well as collaborate as part of a productive team.
            </p>
        </article>
    </section>
    <footer>
        <h3>Contacts</h3>
        <div>
            <p>
                linkedin: <a href="https://linkedin.com/in/anikputa-daniel-6a675a207"
                             title="view profie">linkedin.com/in/anikputa-daniel-6a675a207</a><br>
                Email: <a href="mailto:anikputacoedsacad@gmail.com" title="gmail address">
                anikputacoedsacad@gmail.com</a><br>
                Github: <a href="https://github.com/deepmud" title="view projects">
                https://github.com/deepmud</a><br>
                Telephone: <a href="#" title="telephone no."> +2348134868345</a><br>
            </p>
        </div>
    </footer>

    </body>
</html>



