<!DOCTYPE html>

<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/skills.css"/>
        <link rel="stylesheet" href="/css/w3.css">
        <style>
                * {
                  box-sizing: border-box;
                }
                @media (max-width: 600px) {
                  nav, article {
                    width: 100%;
                    height: auto;
                  }
                }
        </style>
    </head>
    <body>

         <header class="dd">
             <div>
                 <h1 class="w3-text-yellow" style="text-shadow:1px 1px 0 #444;padding-top=100px;">
                     <b>Daniel's Strenghts and Skills</b>
                 </h1>
             </div>


             <nav>
                 <!--<div class="w3-panel w3-amber">-->
                 <h2 class="w3-text-black "
                     style="text-shadow:1px 1px 0 #444; padding:10px ;
                        word-spacing: 50px;" >
                     <span> <a href="/">Home</a></span>
                     <span><a href="/education">Education</a></span>
                     <span><a href="#">Projects</a></span>
                 </h2>

             </nav>
        </header>

        <section>
            <aside class="objectives">
                <h3>Objectives</h3>
            </aside>
            <article>
                <ul class="w3-ul w3-card" style="width:100%">
                    <li>To work, enduring legacy, in rendering a service that can contribute
                        productively, to the advancement of the wider society at large.</li>
                </ul>
            </article>
        </section>

        <section>
            <aside class="my_strenghts">
                    <h3>My Strengths</h3>
            </aside>
                <article>
                    <ul class="w3-ul w3-card" style="width:100%">
                        <li>Very resourceful and a team player</li>
                        <li>Time Management</li>
                        <li>Hardwroking and Result oriented</li>
                        <li>Endurance</li>
                        <li>Tolerance and flexible with different situation</li>
                        <li>Good interpersonal relationship with people</li>
                    </ul>
                </article>
        </section>

         <section>
             <aside class="my_skills">
                    <h3>My Skills</h3>
             </aside>
                <article>
                    <ul class="w3-ul w3-card-4" style="width:100%">
                        <li>Springboot</li>
                        <li>Spring Microservices</li>
                        <li>Spring Core Technologies(Database,MVC,Configurations)</li>
                        <li>Spring Security</li>
                        <li>Java </li>
                        <li>Fullstack</li>
                    </ul>
            </article>
        </section>

        <footer>
            <h3>Contacts</h3>
            <div>
                <p>
                    linkedin: <a href="https://linkedin.com/in/anikputa-daniel-6a675a207"
                                 title="view profie">linkedin.com/in/anikputa-daniel-6a675a207</a><br>
                    Email: <a href="mailto:anikputacoedsacad@gmail.com" title="gmail address">
                    anikputacoedsacad@gmail.com</a><br>
                    Github: <a href="https://github.com/deepmud" title="view projects">
                    https://github.com/deepmud</a><br>
                    Telephone: <a href="#" title="telephone no."> +2348134868345</a><br>
                </p>
            </div>
        </footer>

    </body>
</html>



